<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand ms-4" href="/posts">
      <img
        src="https://www.clipartmax.com/png/full/61-610719_http-freedom-logo-bird-png.png"
        alt=""
        width="40"
        height="30"
        class="d-inline-block align-text-top"
      />
      Freedom Wall</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end ms-4"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav me-4">
        <a class="nav-link active" aria-current="page" href="/posts">Home</a>
        <a class="nav-link" href="/posts/new">Add new</a>
      </div>
    </div>
  </div>
</nav>
